.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin;
  pointer-events: none; */
  width:"100px"; height:"60px";
} 

.App-link {
  color: #61dafb;
}

.Navbar-Brand-img{
  width:"100px"; height:"60px";
}

.header {
  text-align: center;
}

.globalStrip {
  background-color: #0070b5;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.nav-link {
  color:#0070b5
}

.main-container {
  background-color: #eee !important;
}

a {
  color: #369;
  outline: none !important;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

a:hover {
  color: #E37325;
  outline: none !important;
  -moz-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.bt {border-top:1px #ddd;}
.bb {border-bottom:1px #ddd;}
.btb {border-top:1px #ddd;; border-bottom:1px #ddd;;}
.btb-1 {border-top:solid 1px #ddd; border-bottom:solid 1px #ddd;;}

.app-footer > ul, li {list-style: none;}
.app-footer > ul, li > a {color:#4e575d; font-style: normal; font-size: 14px; text-decoration: none !important; }

/*
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/

